@model IEnumerable<Contraprobe.Models.SampleModel>

@{
    ViewBag.Title = "Lista produse";
}

<h2>Lista produse</h2>

<p>
    @Html.ActionLink("Adauga produs nou", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Series)
        </th>
        @*type*@
        <th>
            @Html.DisplayNameFor(model => model.ProductionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>Actiuni</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Series)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ProductionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>


        <td>
            @Html.ActionLink("Editare", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalii", "Details", new { id = item.Id }) |
            @Html.ActionLink("Stergere", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
