@*@model IEnumerable<Contraprobe.Models.SampleModel>*@
@using PagedList.Mvc
@model PagedList.IPagedList<Contraprobe.Models.SampleModel> 


@{
    ViewBag.Title = "Lista produse";
}
<link href="~/Content/PagedList.css" rel="stylesheet" /> 

<h2>Lista produse</h2>

<p>
    @Html.ActionLink("Adauga produs nou", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Series)
        </th>
        @*type*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProductionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Location)
        </th>
        <th>Actiuni</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Series)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ProductionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>


        <td>
            @Html.ActionLink("Editare", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalii", "Details", new { id = item.Id }) |
            @Html.ActionLink("Stergere", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

<div id="pager">
    <p> Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) din @Model.PageCount</p>
    @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
</div>