@*@model IEnumerable<Contraprobe.Models.UserModel>*@
@using PagedList.Mvc
@model PagedList.IPagedList<Contraprobe.Models.UserModel>  

@{
    ViewBag.Title = "List";
}
 <link href="~/Content/PagedList.css" rel="stylesheet" />  
<h2>Lista utilizatori</h2>

<p>
    @Html.ActionLink("Adauga utilizator", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ConfirmPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsAdministrator)
        </th>

        <th>
           <p>Actiuni</p>
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfirmPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdministrator)
        </td>
        <td>
            @Html.ActionLink("Editare", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Stergere", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<div id="pager">
    <p> Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) din @Model.PageCount</p>
    @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
</div>